<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Office</title>
</head>
<body>
    <h1>Post Office</h1>
    <form method="post" action="/">
        <label for="pincode">Pincode</label>
        <input type="text" name="pincode" placeholder="Enter pincode">
        <label for="Branch Name">Branch Name</label>
        <input type="text" name="Branch Name" placeholder="Enter Branch Name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>